# DON'T FORGET TO CHANGE THE OUTFILE/MODEL NAMES AT THE END

### Imports

In [1]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix  
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report, confusion_matrix  
from sklearn import metrics
from sklearn.tree import export_graphviz
from sklearn.model_selection import cross_val_score
from pprint import pprint
# import pickle

pd.options.mode.chained_assignment = None  # default='warn'

### Read in train data

In [2]:
x = pd.read_parquet('training_set_v3.parquet.gzip')
y = x['target']

del x['target']

### Train the model

In [4]:
rf = RandomForestClassifier(n_estimators=100, random_state=42, max_features='auto')

In [6]:
# scores = cross_val_score(rf, x, y, cv=5)
# print(scores.mean())

0.9535191869585713

In [7]:
classifier = rf.fit(x,y)

### Read in test data

In [8]:
x_test = pd.read_parquet('test_set_v3.parquet.gzip')

out = pd.DataFrame(x_test['srch_id'])
out['prop_id'] = x_test['prop_id']

del x_test['srch_id']
del x_test['prop_id']

### Predict on test data

In [10]:
# out['pred'] = classifier.predict(x_test)

In [15]:
# out['pred'].astype(bool).sum(axis=0)

11724

In [21]:
predicted = classifier.predict_proba(x_test)

In [42]:
classifier.classes_

array([0, 1, 3])

In [33]:
df = pd.DataFrame(predicted)
df.columns = ['c1','c2','c3']
out['c1'] = df['c1']
out['c2'] = df['c2']
out['c3'] = df['c3']
out

### Check our output

In [45]:
outfile = out.sort_values(['srch_id','c3','c2','c1'], ascending=[True,False,False,True])

In [46]:
outfile

         srch_id  prop_id     c1     c2    c3
5              1    28181  0.830  0.010  0.16
9              1    54937  0.860  0.000  0.14
12             1    61934  0.910  0.010  0.08
21             1    94729  0.920  0.000  0.08
25             1   128085  0.920  0.000  0.08
22             1    95031  0.930  0.000  0.07
13             1    63894  0.920  0.020  0.06
28             1   139162  0.940  0.000  0.06
4              1    24194  0.950  0.000  0.05
8              1    50162  0.950  0.000  0.05
23             1    99484  0.950  0.000  0.05
18             1    82231  0.960  0.000  0.04
0              1     3180  0.970  0.000  0.03
14             1    72090  0.970  0.000  0.03
1              1     5543  0.970  0.010  0.02
27             1   134992  0.970  0.010  0.02
10             1    56050  0.980  0.000  0.02
2              1    14142  0.990  0.000  0.01
7              1    37567  0.990  0.000  0.01
16             1    74045  0.990  0.000  0.01
17             1    78599  0.990  0.010  0.00
26             1   128871  0.990  0.010  0.00
3              1    22393  1.000  0.000  0.00
6              1    34263  1.000  0.000  0.00
11             1    61632  1.000  0.000  0.00
15             1    73666  1.000  0.000  0.00
19             1    89466  1.000  0.000  0.00
20             1    90385  1.000  0.000  0.00
24             1   123675  1.000  0.000  0.00
53             3   131940  0.440  0.010  0.55
...          ...      ...    ...    ...   ...
4959147   332785   117928  1.000  0.000  0.00
4959148   332785   122587  1.000  0.000  0.00
4959158   332786    36331  0.850  0.140  0.01
4959164   332786    59590  0.960  0.030  0.01
4959165   332786    63164  0.970  0.020  0.01
4959162   332786    54775  0.980  0.010  0.01
4959156   332786    19265  0.990  0.000  0.01
4959169   332786   103457  0.836  0.164  0.00
4959160   332786    45449  0.890  0.110  0.00
4959175   332786   135414  0.900  0.100  0.00
4959172   332786   125075  0.930  0.070  0.00
4959163   332786    54994  0.970  0.030  0.00
4959174   332786   128251  0.970  0.030  0.00
4959157   332786    29028  0.980  0.020  0.00
4959159   332786    43698  0.980  0.020  0.00
4959167   332786    98306  0.980  0.020  0.00
4959155   332786    15662  0.990  0.010  0.00
4959161   332786    46497  0.990  0.010  0.00
4959170   332786   113183  0.990  0.010  0.00
4959166   332786    92950  1.000  0.000  0.00
4959168   332786   101905  1.000  0.000  0.00
4959171   332786   117267  1.000  0.000  0.00
4959173   332786   127402  1.000  0.000  0.00
4959176   332787    22854  0.760  0.030  0.21
4959179   332787    33959  0.810  0.010  0.18
4959177   332787    29018  0.850  0.020  0.13
4959182   332787    99509  0.900  0.010  0.09
4959178   332787    32019  0.940  0.000  0.06
4959181   332787    94437  0.980  0.000  0.02
4959180   332787    35240  1.000  0.000  0.00

[4959183 rows x 5 columns]

### Delete the class probability columns and double check the output

In [47]:
outfile_save = outfile
del outfile['c1']
del outfile['c2']
del outfile['c3']
outfile

         srch_id  prop_id
5              1    28181
9              1    54937
12             1    61934
21             1    94729
25             1   128085
22             1    95031
13             1    63894
28             1   139162
4              1    24194
8              1    50162
23             1    99484
18             1    82231
0              1     3180
14             1    72090
1              1     5543
27             1   134992
10             1    56050
2              1    14142
7              1    37567
16             1    74045
17             1    78599
26             1   128871
3              1    22393
6              1    34263
11             1    61632
15             1    73666
19             1    89466
20             1    90385
24             1   123675
53             3   131940
...          ...      ...
4959147   332785   117928
4959148   332785   122587
4959158   332786    36331
4959164   332786    59590
4959165   332786    63164
4959162   332786    54775
4959156   332786    19265
4959169   332786   103457
4959160   332786    45449
4959175   332786   135414
4959172   332786   125075
4959163   332786    54994
4959174   332786   128251
4959157   332786    29028
4959159   332786    43698
4959167   332786    98306
4959155   332786    15662
4959161   332786    46497
4959170   332786   113183
4959166   332786    92950
4959168   332786   101905
4959171   332786   117267
4959173   332786   127402
4959176   332787    22854
4959179   332787    33959
4959177   332787    29018
4959182   332787    99509
4959178   332787    32019
4959181   332787    94437
4959180   332787    35240

[4959183 rows x 2 columns]

### Save the output file

In [48]:
outfile.to_csv('outfile_4.csv', index=False)